<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Grades</title>
</head>

<body>
    <nav class="navbar">
        <a href="{{url_for('root.population',course=course, year=year, intake=intake)}}">Back</a>
        <div class="nav-div"><img class="nav-img"
                src="{{url_for('static',filename = 'assets/EPITA School of Engineering and Computer Science_Logo.png')}}"
                alt="">
            <h3>EPITA INTERNATIONAL</h3>
        </div>
    </nav>
    <div class="grade_container">
        <div class="table-wrapper">
            <table class="tables">
                <tr class="t-head" style="background-color: darkslategray;">
                    <td>EMAIL</td>
                    <td>FIrst Name</td>
                    <td>Last Name</td>
                    <td>Course</td>
                    <td>Grade(20)</td>
                </tr>
                {%for row in data%}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                </tr>
                {%endfor%}

            </table>
        </div>
    </div>
    <p id="generated-time"></p>
    <script src="{{url_for('static',filename='script.js')}}"></script>
</body>

</html>